<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
</head>
<body>
<div class="container">

    <div class="row">
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

    </div>
    
    <!-- SEARCH BAR -->
<div class="row">
 <!-- SEARCH Function -->
<form>
<input type="text">
<input type="text">
<input type="submit">
</form>
</div>

    <!-- Button Refresh -->
    <!-- https://codepen.io/teamturret/pen/KwyVQx -->
    <div class="row">
    <div id="progress-bar">
        <button id="progress-btn">
            <span id="progress-text">REFRESH</span>
        </button>
        <div id="progress-box">
        </div>
    </div>
    </div>

     <!-- DATATABLE BAR -->
    <div class="row">
        <div class="col-sm-12">
            <table id="PCStatusTable" width="100%">
            <thead>
            <tr>
                <th>PC Name</th>
                <th>Status</th>
                <th>IP Address</th>
                <th>Start Time</th>
                <th>Elapse Time</th>
                <th>Cost</th>
            </tr>
            </thead>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->

</body>
<footer th:replace="fragments/footer :: footer"/>
<footer>
    <script type="text/javascript" 
        src="js/admin.js"></script>
</footer>
</footer>
</html>
