<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
</head>
<body>
<div id="baseBorder" class="container">
    <div class="row" id="baseBanner">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary btn-lg homepage" data-toggle="modal" data-target="#loginModal">Admin Login</button>
            <div th:replace="fragments/modal :: login"/>
        </div>
    </div>
    
    <div class="row" id="baseGames">
    </div>
    
    <div class="row" id="baseStatus">
        <div class="col-sm-6" id="online">
        </div>
        <div class="col-sm-6" id="feedback">
        </div>
    </div>
    
    <div class="row" id="baseSocialLinks">
    </div>
    <br>
</div>
</body>
<footer th:replace="fragments/footer :: footer"/>
</footer>
</html>
