<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <div class="container">
        <script type="text/javascript" 
            th:src="@{webjars/jquery/2.1.1/jquery.min.js}"></script>
        <script type="text/javascript" 
            th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
            
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" 
        src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
            
            
            
        <script type="text/javascript" 
            th:src="@{js/datatable.js}"></script>
        </footer>
    </div>
</div>
</body>
</html>
